body {
    background-color:black;
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: white;
}

    
h1{
    color:rgb(56, 54, 54);
    font-family: Verdana;
}

.maindiv {
    background-color: wheat;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}


